<html>

    <head>
        <title>OpenID - Log In</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    </head>

    <body>
        <script type="text/javascript">
            function openwin_company () {
                window.open("https://www.google.com/accounts/o8/ud?hd=smalltreemedia.com&openid.ns=http://specs.openid.net/auth/2.0&openid.ns.pape=http://specs.openid.net/extensions/pape/1.0&openid.claimed_id=http://specs.openid.net/auth/2.0/identifier_select&openid.identity=http://specs.openid.net/auth/2.0/identifier_select&openid.return_to=http://localhost:8000/accounts/popreturn&openid.realm=http://localhost:8000/accounts/&openid.assoc_handle=ABSmpf6DNMw&openid.mode=checkid_setup&openid.ui.ns=http://specs.openid.net/extensions/ui/1.0&openid.ui.mode=popup&openid.ui.icon=true&openid.ns.ax=http://openid.net/srv/ax/1.0&openid.ax.mode=fetch_request&openid.ax.type.email=http://axschema.org/contact/email&openid.ax.type.firstname=http://axschema.org/namePerson/first&openid.ax.type.lastname=http://axschema.org/namePerson/last&openid.ax.required=email,firstname,lastname", 'openid_popup', 'width=650,height=580');
            }

            function openwin_gmail () {
                window.open("https://www.google.com/accounts/o8/ud?openid.ns=http://specs.openid.net/auth/2.0&openid.ns.pape=http://specs.openid.net/extensions/pape/1.0&openid.claimed_id=http://specs.openid.net/auth/2.0/identifier_select&openid.identity=http://specs.openid.net/auth/2.0/identifier_select&openid.return_to=http://localhost:8000/accounts/popreturn&openid.realm=http://localhost:8000/accounts/&openid.assoc_handle=ABSmpf6DNMw&openid.mode=checkid_setup&openid.ui.ns=http://specs.openid.net/extensions/ui/1.0&openid.ui.mode=popup&openid.ui.icon=true&openid.ns.ax=http://openid.net/srv/ax/1.0&openid.ax.mode=fetch_request&openid.ax.type.email=http://axschema.org/contact/email&openid.ax.type.firstname=http://axschema.org/namePerson/first&openid.ax.type.lastname=http://axschema.org/namePerson/last&openid.ax.required=email,firstname,lastname", 'openid_popup', 'width=650,height=580');
            }
        </script>
        
        <div>

            <div class="navbar">
                <div class="navbar-inner">
                    <p class="brand" >Choose a type to Login</p>
                </div>
            </div>

            <div class="well">
                <p><a href="javascript:openwin_company();">Sign In with My Company Accounts</a></p>
                <p><img src="http://www.google.com/favicon.ico" style="border:none;"/><a href="javascript:openwin_gmail();">Sign In with My GMail Accounts</a></p>
            </div>


        </div>
    </body>
    



</html>