<html>

    <head>
        <title>Leave a Message</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    </head>

    <body>
        <div>
            <h2>{{ msg }} Leave a Message to System Administrator to Active your account.</h2>

            <form action="" method="post" enc-type="application/x-www-form-urlencoded">
                <p><label>Content: </label><input name="content" type="text" value="" /></p>
                <p><input name="submit" type="submit" value="Leave Message" /></p>
            </form>

        </div>
    </body>



</html>